// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');
@import url("/node_modules/normalize.css/normalize.css");

$c--primary: #35d24e;

* {
  box-sizing: border-box;
}

body {
  // font-family: "Montserrat", sans-serif;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.1ch;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: inherit;
  min-height: inherit;
}

.game-container {
  width: max-content;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto minmax(432px, 1fr) 300px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "table board chat"
    "table shot chat"
    "table dice chat";
  gap: 16px 24px;
}

.shot-container {
  grid-area: shot;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-container {
  grid-area: chat;
}

.dice-container {
  grid-area: dice;
  &__title {
    @extend .t-title;
    color: white;
    margin-bottom: 8px;
  }
  &__block {
    width: 432px;
    height: 114px;
    // display: grid;
    // grid-template-columns: repeat(5, auto);
    // column-gap: 16px;
    display: flex;
    padding: 24px;
    border-radius: 16px;
    background-color: #35713e;
    box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.combo-container {
  grid-area: combo;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.game-table {
  grid-area: table;
  justify-self: center;
}

.shot-title {
  @extend .t-body;
  color: white;
}

.board-container {
  grid-area: board;
  &__text {
    @extend .t-subtitle;
    color: white;
  }
}

.dice {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.25);
  img {
    height: 100%;
    width: 100%;
    user-select: none;
  }
  &.selectable {
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.25);
    }
    &:active {
      transform: none;
      box-shadow: none;
    }
  }
  & + & {
    margin-left: 16px;
  }
}

.game-table {
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  .col + .col {
    border-left: 2px solid white;
  }
  .cell + .cell {
    border-top: 1px solid rgba(white, 0.16);
  }
}

.cell {
  width: 100%;
  min-width: 72px;
  height: 32px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  color: white;
  &.bold {
    font-weight: 700;
  }
}

.clickable-cell {
  @extend .cell;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  // transition: background-color 0.1s;
  &:disabled {
    cursor: default;
  }
  &:not(:disabled):hover {
    background-color: rgba(white, 0.1);
  }
  &.is-highlight {
    background-color: rgba($c--primary, 0.12);
    &:not(:disabled):hover {
      background-color: rgba($c--primary, 0.24);
    }
  }
}

.page {
  min-height: inherit;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  grid-template-areas:
    "header header header"
    ". main .";
  align-content: start;

  background-color: #2f2e2c;
}

a {
  text-decoration: none;
}

.header {
  grid-area: header;
  position: relative;
  display: grid;
  grid-template-columns: minmax(100px, 25%) 1fr minmax(100px, 25%);
  grid-template-areas: "header-left header-title header-right";
  align-items: center;
  min-height: 56px;
  padding: 0 16px;
  // box-shadow: 0 1px 4px 1px rgba(black, .1);
  color: white;
  border-bottom: 2px solid rgba(#d0d0d0, 0.16);
  &__left {
    grid-area: header-left;
    justify-self: start;
  }
  &__title {
    grid-area: header-title;
    justify-self: center;
    text-align: center;
    font-size: 24px;
  }
  &__right {
    grid-area: header-right;
    justify-self: end;
  }
}
.main {
  grid-area: main;
  margin: 0 auto;
  padding: 24px 0;
}

.block {
  background-color: #4a4947;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.input {
  min-width: 200px;
}
.input-native {
  background: none;
  border: none;

  background-color: #888583; // black;
  color: black; // white;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;

  &::placeholder {
    color: rgba(black, 0.5); // rgba(white, 0.5);
  }
  &:focus {
    // outline: none;
    // box-shadow: 0 0 0 1px #dfdad7;
  }
}
.input-label {
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.button {
  background: none;
  border: none;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
  cursor: pointer;

  &:disabled {
    cursor: default;
    color: lighten(black, 20%);
    background-color: desaturate($c--primary, 80%);
    box-shadow: none;
    transform: none;
  }
  
  &--primary {
    background-color: $c--primary;
    color: black;
    &:not(:disabled):hover {
      background-color: lighten($c--primary, 10%);
      box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }

  &--flat {
    background-color: transparent;
    color: white;
    padding: 8px 16px;
    &:not(:disabled):hover {
      background-color: rgba(white, 0.06);
      box-shadow: none;
      transform: none;
    }
  }

  &--block {
    width: 100%;
  }
}

.form-create-room {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  .input {
    width: 400px;
  }
  .button {
    margin-left: 16px;
  }
}

.room-list {
  // padding: 16px 0;
}
.room-list-item {
  cursor: pointer;
  padding: 16px;
  color: white;
  border-bottom: 2px solid rgba(#d0d0d0, 0.16); // #2A2927
  &:hover {
    background-color: rgba(black, 0.06);
  }
  &__meta {
    font-size: 16px;
    line-height: 24px;
  }
  &:last-child {
    border-bottom: none;
  }
}

.room-info-container {
  margin-bottom: 24px;
  width: 300px;
}

.list {}
.item {
  @extend .t-body;
  color: white;
  & + & {
    margin-top: 8px;
  }
}

.c-white {
  color: white;
}
.c-primary {
  color: $c--primary;
}

.t-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.t-subtitle {
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}
.t-body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.t-caption {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}


.chat-container {
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.chat-messages-wrap {
  flex: 1;
  overflow-y: auto;
}
.chat-input-wrap {
  padding: 8px;
}
.chat-message {
  padding: 4px 8px;
  @extend .t-body;
  color: white;
  &__sender {
    font-weight: 700;
  }
}